@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import "./text.css";

:root {}

@theme {
    --font-mono: "JetBrains Mono", monospace;
    --font-display: "Barlow Condensed", sans-serif;
    --font-body: "Inter", sans-serif;
    --spacing-gutter: 24px;
    --spacing-margin-mobile: 16px;
    --spacing-margin-desktop: 48px;
    --container-max: 1280px;

    --color-surface-lowest: #0e0e0e;
    --color-surface-container: #202020;
    --color-surface-high: #2a2a2a;
    --color-on-surface: #e5e2e1;
    --color-on-surface-variant: #c4c9ac;
    --color-outline: #8e9379;
    --color-primary: #fff;
    --color-on-primary: #283500;
    --color-primary-container: #c3f400;
    --color-secondary-container: #00eefc;
    --color-error: #ffb4ab;
    --color-error-container: #93000a;
    --color-background: #0a0a0a;
    --color-card: #1f1f1f;
    --color-input-bg: #0a0a0a;
    --color-input-border: #2d2d2d;
    --color-chip-bg: #2d2d2d;
    --color-track: #2d2d2d;

    --shadow-glow-primary: 0 0 8px 4px #c3f40026;
    --shadow-glow-secondary: 0 0 8px 4px #00eefc26
}

@layer base {
    body {
        background-color: var(--color-background);
        min-height: 100vh;
        color: var(--color-on-surface);
        font-family: var(--font-body);
        -webkit-font-smoothing: antialiased;
        margin: 0;
        font-size: 1rem;
        line-height: 1.6
    }
}

@utility container-site {
    width: 100%;
    max-width: var(--container-max);
    padding-inline: var(--spacing-margin-mobile);
    margin-inline: auto;

    @variant md {
        padding-inline: var(--spacing-margin-desktop);
    }
}

@utility section-padding {
    padding-block: 3rem;

    @variant md {
        padding-block: 4rem;
    }

    @variant lg {
        padding-block: 5rem;
    }
}

@utility grid-12 {
    gap: var(--spacing-margin-mobile);
    grid-template-columns: repeat(4, 1fr);
    display: grid;

    @variant md {
        gap: var(--spacing-gutter);
        grid-template-columns: repeat(12, 1fr);
    }
}



@utility btn-clipped {
    clip-path: polygon(0 0, calc(100% - 12px) 0, 100% 12px, 100% 100%, 12px 100%, 0 calc(100% - 12px))
}